<html>

<head>
  <link rel="stylesheet" href="/css/ans.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="hhttps://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <button type="button" class="btn btn-danger"
    style="background-color:  rgb(29, 226, 226);border-color: rgb(29, 226, 226);" data-toggle="modal"
    data-target="#form"> See Modal with Form </button>
  <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="text-right cross"></div>
        <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
          <div class="comment-box text-center">
            <h4>Add a comment</h4>

            <div class="comment-area"> <textarea class="form-control" placeholder="what is your view?"
                rows="4"></textarea> </div>
            <div class="text-center mt-4"> <button class="btn btn-success send px-5">Send message <i
                  class="fa fa-long-arrow-right ml-1"></i></button> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>