<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/css/dashboard.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Sell That</title>
</head>

<body>

  <div class="navbar-area navbar-fixed-top bg">
    <div class="container">
      <nav class="site-navbar">
        <!-- site logo -->
        <a href="#home" class="site-logo">SELL-THAT!</a>

        <!-- site menu/nav -->
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Buy/Sell</a></li>
          <li><a href="#">Lost & Found</a></li>
          <li><a href="#">Forum</a></li>
        </ul>

        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="welcome-text content">
      <h1 class="welcome-h1">Hi, Nirmal Joji</h1>
    </div>


  </div>
  <div class=row>
    <span class="col-md-2 col-sm-1 col-xs-1"></span>
    <div class="col-md-8 gradient-border content" id="box">
      <div class="row">
        <div class="col-md-3 col-sm-6 card-holder">

          <section class="card3 card--01">
            <h1 class="card__heading">FUNNY GRADIENT CARDS</h1>
            <p class="card__text">
              With a funny blurry drop shadow
            </p>
          </section>
          <span class="card-shadow card-shadow--01"></span>

        </div>
        <div class="col-md-3 col-sm-6 card-holder">

          <section class="card3 card--02">
            <h1 class="card__heading">FUNNY GRADIENT CARDS</h1>
            <p class="card__text">
              With a funny blurry drop shadow
            </p>
          </section>
          <span class="card-shadow card-shadow--02"></span>
        </div>
      </div>
    </div>
    <span class="col-md-2 col-sm-1 col-xs-1"></span>
  </div>

  <div class="row" style="margin-bottom:10%">
    <span class="col-md-2 col-sm-1 col-xs-1"></span>
    <div class="col-md-3">
      <div class="container2">
        <div class="card2 content">
          <img src="https://storage.googleapis.com/chydlx/codepen/minimalist-profile-card/user-img.jpg"
            alt="Chyno Deluxe">
          <h1>Nirmal Sharon Joji</h1>
          <h2>Amrita School of Engineering</h2>
          <a class="button" href="https://instagram.com/chynodeluxe" target="_blank"> 0 Ads</a>
          <a class="button" href="https://instagram.com/chynodeluxe" target="_blank"> 0 Answers</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <table class="rwd-table">
        <tr>
          <th>Name</th>
          <th>Genre</th>
          <th>Year</th>
          <th>Gross</th>
        </tr>
        <tr>
          <td data-th="Movie Title">Star Wars</td>
          <td data-th="Genre">Adventure, Sci-fi</td>
          <td data-th="Year">1977</td>
          <td data-th="Gross">$460,935,665</td>
        </tr>
        <tr>
          <td data-th="Movie Title">Howard The Duck</td>
          <td data-th="Genre">"Comedy"</td>
          <td data-th="Year">1986</td>
          <td data-th="Gross">$16,295,774</td>
        </tr>
        <tr>
          <td data-th="Movie Title">American Graffiti</td>
          <td data-th="Genre">Comedy, Drama</td>
          <td data-th="Year">1973</td>
          <td data-th="Gross">$115,000,000</td>
        </tr>
      </table>
    </div>
    <span class="col-md-2 col-sm-1 col-xs-1"></span>
    
  </div>














  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="/js/dashboard.js"></script>
</body>

</html>