<html>

<head>
  <link rel="stylesheet" href="/css/forum.css">
  <link rel="stylesheet" href="/css/index.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="hhttps://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#myModal").on('shown.bs.modal', function () {
        $(this).find('#textarea1').focus();
      });
    });

  </script>
</head>

<body>

  <div class="navbar-fixed-top bg">
    <div class="container bg">
      <nav class="site-navbar ">
        <!-- site logo -->
        <a href="#home" class="site-logo">SELL-THAT!</a>

        <!-- site menu/nav -->
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="shopping">Buy/Sell</a></li>
          <li><a href="lostAndFound">Lost & Found</a></li>
          <li><a href="forum">Forum</a></li>
          <li><a class="pp3" href="/dashboard"><img class="img-fluid pp2" src="/img/team/jojo.jpg" alt=""> </a></li>
        </ul>

        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>

  <main>
    <div class="every">
      <div class="row" style="margin-top: 2% !important;">
        <div class="content">
          <button type="button" class="modal-button" data-toggle="modal" data-target="#myModal">ASK A QUESTION!</button>
        </div>


      </div>
      <form action="/question" method="POST">
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="card">
              <div class="card-img"> <img class="img-fluid centerScreen" src="./img/avatars/ask.png"> </div>
              <div class="card-title">
                <p style="align-items: center;">Ask away!</p>
              </div>
              <div class="card-text">
                <textarea id="textarea1" style="background-color: antiquewhite;" cols="57" rows="6"
                  placeholder="Type Here..." name="Question"></textarea>
              </div>
              <input type="submit" style="background-color:  rgb(29, 226, 226); position: relative;
                    bottom: -20px;" class="btn" value="POST"></input>
            </div>
          </div>
        </div>
      </form>



      <div class="cards">


        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Isha Saikumar</h4>
            <h6 class="card-subtitle mb-2 text-muted">BL.EN.U4CSE17048</h6>
            <p class="card-text">what elective should i choose?,, cloud or machine learning?.</p>
            <hr>

            <button type="button" class="btn1" data-toggle="modal" data-target="#form">Answer </button>
            <form action="\answer" method="POST">
              <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="text-right cross"> </div>
                    <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100"
                        width="100">
                      <div class="comment-box text-center">
                        <h4>Add a comment</h4>

                        <div class="comment-area"> <textarea class="form-control" placeholder="what is your view?"
                            rows="4" name="Answer"></textarea> </div>
                        <div class="text-center mt-4"> <input type="submit" class="btn btn-success send px-5"
                            value="POST"> </input> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <button type="button" class="btn1" data-toggle="modal" data-target="#myModal1">Show Answers</button>



            <!-- Modal -->
            <div id="myModal1" class="modal fade" role="dialog">
              <div class="modal-dialog modal-dialog-scrollable ">


                <div class="card2 modal-content">
                  <div class="card-body modal-header text-center">
                    <h4 class="card-title">what elective should i choose?,, cloud or machine learning?.</h4>
                  </div>
                  <div class="comment-widgets modal-body">
                    <!--dynamic looping ice--><!-- Comment Row -->
                    
                    <% trials.forEach((trial) => { %>
                    <div class="d-flex flex-row comment-row">
                      <div class="p-2"><img src=<%= trial.imagu %> alt="user" width="50" class="rounded-circle">
                      </div>
                      <div class="comment-text w-100">
                        <h5 class="font-medium"><%= trial.author %></h5> <span
                          class="m-b-15 d-block"><%= trial.title %></span>
                        <div class="comment-footer"> <span class="text-muted float-right"><%= trial.date %></span>
                          <span id="editing">
                            <button type="button" class="btn btn-success btn-sm" onclick="Edit_ans()">Edit</button>
                          </span>


                          <form action="/delete" method="POST">
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete"></input>
                          </form>

                        </div>
                      </div>
                    </div>


                    <% }) %>
                  </div> <!-- Card -->
                </div>




              </div>
            </div>
            <hr>
            <label>Share this</label>
            <br>
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://www.linkedin.com/home" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-google"></a>

          </div>
        </div>



      </div>

    </div>
  </main>
  <script>
    function Edit_ans() {

      document.getElementById("editing").innerHTML = "<form action='/EditAns' method='POST'><textarea  style='width: 100%;' ></textarea><input type='submit' class='btn btn-success btn-sm' onclick='rev()' value='Confirm Edit'></input></form>";
    }
    function rev() {
      document.getElementById("editing").innerHTML = "<button type='button' class='btn btn-success btn-sm'  onclick='Edit_ans()'>Edit</button>";
    }
  </script>
</body>

</html>