<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Sell That !</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
</head>


<body>
    <header class="headingEdit">
<div class="overlay">
    <span></span>
</div>
    <!--Sharon Start-->
    <div class="navbar-fixed-top bg">
        <div class="container bg">
          <nav class="site-navbar ">
            <!-- site logo -->
            <a href="#home" class="site-logo">SELL-THAT!</a>
    
            <!-- site menu/nav -->
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="shopping">Buy/Sell</a></li>
              <li><a href="lostAndFound">Lost & Found</a></li>
              <li><a href="forum">Forum</a></li>
            </ul>
    
            <!-- nav-toggler for mobile version only -->
            <button class="nav-toggler">
              <span></span>
            </button>
          </nav>
        </div>
      </div>
    <!--Sharon end-->


<!--Sharon end-->


    <main>
        
        <section class="portfolio-block block-intro" id="space">
            <!--Rakshana Start-->
            
                <div class="row">
                    <div class="col-md-5 textArea">
                        <h2>
                            Wasaap fellow Amrita dudes & bros!
                        </h2>
                        <p>
                            A one stop website for all Amrita students to interact, sell used goods and report lost & found items!

                        </p>
<br>
                        <button class="btn btn-primary raksBtn">Login</button>
                        <button class="btn btn-primary raksBtn">Register</button>

                    </div>  
                <div class="col-md-2"></div>
                <!--    
                <div class="col-md-5 bg-image-home">
                        <img src="/img/avatars/background.png" alt="" class="over-main-img2">
                        <img src="/img/avatars/main.png" alt="" class="over-main-img">
                    </div>
                    -->
                
            </div>
            <!--Rakshana end-->
            </section>


        <!--Rakshana end-->
    </section>


        <section id="whatWeDo">
            <!--Isha Start-->
            <div class="container">
                <div class="heading">
                    <h2>What WE DO ?</h2>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div  class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-bag"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Buy and Sell !</h3>
                                <p class="card-text">PART 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Lost and found</h3>
                                <p class="card-text">PART 2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-information-circled"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Student Forum</h3>
                                <p class="card-text">PART 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          
            <!--Isha End-->
            
        </section>
    </main>

    <section>

        <div id="this" class="container">
            <div class="heading">
                <h2>TEAM</h2>
                <br>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div  class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0 ">
                            <img class="pp" src="/img/team/harshitaImage1.jpeg" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Harshita</h3>
                            <p class="card-text">PART 1</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0">
                            <img class="pp" src="/img/team/ice.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Isha</h3>
                            <p class="card-text">PART 2</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0">
                            <img class="pp" src="/img/team/raks.jpg" alt="">
                        </div>                        
                        <div class="card-body">
                            <h3 class="card-title">Rakshana</h3>
                            <p class="card-text">PART 3</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0">
                            <img class="pp" src="/img/team/jojo.jpg" alt="">
                        </div>                        
                        <div class="card-body">
                            <h3 class="card-title">Nirmal</h3>
                            <p class="card-text">PART 3</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-information-circled"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Rithwik</h3>
                            <p class="card-text">PART 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    
    <footer >
         <!--Hachii start-->
        <div align="center" class="h3">
            <br>
            <a href="#">About Us &nbsp &nbsp   </a><a href="#">Contact Us &nbsp &nbsp  </a><a href="#">Project Code &nbsp &nbsp</a>
        </div>
          
         <!--Hachii end-->
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/js/theme.js"></script>
    
    
</body>

</html>