<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Sell That !</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
</head>

<body>

    <!--Sharon Start-->
    <nav>
       
    </nav>
    <!--Sharon end-->



    <main>
        
        <section class="portfolio-block block-intro">
        <!--Rakshana Start-->
            <div class="row">
                <div class="col-md-5">
                    <p>
                        about website and what it does
                    </p>
                </div>
            <div class="col-md-2"></div>
                <div class="col-md-5 bg-image-home">
                    <img src="/img/avatars/background.png" alt="" class="over-main-img2">
                    <img src="/img/avatars/main.png" alt="" class="over-main-img">
                </div>
            </div>
        <!--Rakshana end-->
        </section>
        

        



        <section>
            <!--Isha Start-->
          
            <!--Isha End-->
            
        </section>
    </main>
    <section>
         <!--Hachii Start-->
         <div class="gradient">
            <table align='center' width="50"  cellpadding="10" >
                <tr colspace='3px' align='bottom' >
                    <p class="h1">Our Team<p>
                </tr>
                <tr>
                    <td href><img src="/img/team/profile-icon.png" alt="description here" style="width:200px;height:200px;"></td>
                    <td href><img src="/img/team/profile-icon.png" alt="description here" style="width:200px;height:200px;"></td>
                    <td href><img src="/img/team/harshitaImage1.jpeg" alt="description here" style="width:200px;height:200px;"></td>
                    <td href><img src="/img/team/profile-icon.png" alt="description here" style="width:200px;height:200px;"></td>
                    <td href><img src="/img/team/profile-icon.png" alt="description here" style="width:200px;height:200px;"></td>
                    
                </tr>
                <tr align='center'>
                    <td class="h3"> <a class= "h3" href="#">Nirmal Sharon Joji</a></td>
                    <td class="h3">  <a class= "h3" href="#">Rakshana J</a></td>
                    <td class="h3"> <a class= "h3" href="#">Harshita Reddy Edugudi</a></td>
                    <td class="h3"> <a class= "h3" href="#">Isha Saikumar</a></td>
                    <td class="h3"> <a class= "h3" href="#">Rytwik</a></td>
                    
                </tr>
            </table>
        </div>
            <!--Hachii End-->
        
    </section>
    <footer >
         <!--Hachii start-->
         
        <div align="center" class="h3">
            <br>
            <a href="#">About Us &nbsp &nbsp   </a><a href="#">Contact Us &nbsp &nbsp  </a><a href="#">Project Code &nbsp &nbsp</a>
        </div>
          
         <!--Hachii end-->
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>