<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost and Found</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/raks.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">

</head>
<body>
    <div class="boody">

        
        <section id="blog" class="content-section">
            <hr id="topbar">
            <div class="section-heading">
                <h1>Lost and <br><em>Found</em></h1>
                <p>get yo stuff here</p>
            </div>
            <div class="section-content">

                    <div id="raksWrapper" >
                        <div id="lost" class="tabgroup">

                            <ul>
                                <li>
                                    <div class="item">
                                        <img src="/img/nature/image1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>Calculator</h4>
                                            <span>date?</span>
                                            <p>found it on 3rd floor </p>
                                            <h5>Contact : xxx</h5>
                                            <div class="accent-btn btn">
                                                <a href="">button</a>
                                            </div>

                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <img src="/img/nature/image1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>abc</h4>
                                            <span>date?</span>
                                            <p>about</p>

                                            <div class="accent-btn btn">
                                                <a href="">button</a>
                                            </div>

                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <img src="/img/nature/image1.jpg" alt="">
                                        <div class="text-content">
                                            <h4>abc</h4>
                                            <span>date?</span>
                                            <p>about</p>

                                            <div class="accent-btn btn">
                                                <a href="">button</a>
                                            </div>

                                        </div>

                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>

               

            </div>

        </section>
    </div>
</body>
</html>