<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost & Found new</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/rakshanaStyles.css">
    
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">

</head>
<body>

    <!--
        nav bar start
    -->
    <div class="navbar-fixed-top bg">
        <div class="container bg">
          <nav class="site-navbar ">
            <!-- site logo -->
            <a href="#home" class="site-logo">SELL-THAT!</a>
    
            <!-- site menu/nav -->
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Buy/Sell</a></li>
              <li><a href="#">Lost & Found</a></li>
              <li><a href="#">Forum</a></li>
            </ul>
    
            <!-- nav-toggler for mobile version only -->
            <button class="nav-toggler">
              <span></span>
            </button>
          </nav>
        </div>
      </div>

      <!--
          end of nav bar
      -->

    <div class="page-wrapper">
      <div class="headpart">
        
        <h2 id="found">Found items near you</h2>
        <button class=" btn float-right postBtn" id="postbtn">Your items</button>
        <div id="postItemModal" class=modal>
          <div class="modal-content">
            <span class="close">x</span>
            <div class="tab">
              <button class="tablinks" onclick="openTab(event,'tab1')">Post an item you found</button>
              <button class="tablinks" onclick="openTab(event,'tab2')">Previous items</button>
              </div>
            <div id="tab1" class="tabcontent">
            <h3>Fill in the details</h3>
            <h5>Please add the information for other students to view before submitting the item to the Admin Department.</h5>
            <div class="formDiv">
              <form action="/action_page.php">
                <label for="fname">Item name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            
                <label for="lname">Found in</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            
                <label for="details">Note</label>
                <input type="text" id="details" name="details" placeholder="Add any relevant details..">
            
                <div class="container">
                  <label for="upload" class="uploadButton">Upload image</label>
                  <input type="file" name="upload" id="upload">
                </div>
<!--
                <label for="country">Country</label>
                <select id="country" name="country">
                  <option value="australia">Australia</option>
                  <option value="canada">Canada</option>
                  <option value="usa">USA</option>
                </select>
-->           
                <input type="submit" value="Submit">
              </form>
            </div>
          </div>
          <div id="tab2" class="tabcontent">
            <p>prev</p>

          </div>
          </div>
        </div>
        <hr class="headLine">  
      </div>

    
      <div class="cards">

            <div class="card">
              <div class="card__image-holder">
                <img class="card__image" src="/img/tech/image4.jpg" alt="wave" />
              </div>
              <div class="card-title">
                
                  <span class="left"></span>
                  <span class="right"></span>
                </a>
                <h2>
                    Scooty keys
                    <small>Found on 4th floor</small>
                </h2>
              </div>
              <div id="descBox">
                <div class="card-description">
                    blah blah bsodubce sovnes isdnvbensvu isebvvvvvvvvvv udbvsbseuv ioebvusr ouvsb nvsub
                </div>
                <div class="">
                  <p id="demo"></p>
                  <div class="readmore">
                    <a class="btn">Claim</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card__image-holder">
                <img class="card__image" src="/img/tech/image4.jpg" alt="wave" />
              </div>
              <div class="card-title">
                
                  <span class="left"></span>
                  <span class="right"></span>
                </a>
                <h2>
                    Scooty keys
                    <small>Found on 4th floor</small>
                </h2>
              </div>
              <div id="descBox">
                <div class="card-description">
                    blah blah bsodubce sovnes isdnvbensvu isebvvvvvvvvvv udbvsbseuv ioebvusr ouvsb nvsub
                </div>
                <div class="">
                  <p id="demo"></p>
                  <div class="readmore">
                    <a class="btn">Claim</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card__image-holder">
                <img class="card__image" src="/img/tech/image4.jpg" alt="wave" />
              </div>
              <div class="card-title">
                
                  <span class="left"></span>
                  <span class="right"></span>
                </a>
                <h2>
                    Scooty keys
                    <small>Found on 4th floor</small>
                </h2>
              </div>
              <div id="descBox">
                <div class="card-description">
                    blah blah bsodubce sovnes isdnvbensvu isebvvvvvvvvvv udbvsbseuv ioebvusr ouvsb nvsub
                </div>
                <div class="">
                  <p id="demo"></p>
                  <div class="readmore">
                    <a class="btn">Claim</a>
                  </div>
                </div>
              </div>
            </div>

    
          </div>
      </div>
    
</body>
<script src="/js/rakshana.js"></script>

</html>