<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Sell That!</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  
    <link rel="stylesheet" href="/css/shopping.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
      integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
      </script>
  
  </head>
  
  <body>
  
    <div class="navbar-fixed-top bg">
      <div class="container bg">
          <nav class="site-navbar ">
              <!-- site logo -->
              <a href="#home" class="site-logo">SELL-THAT!</a>


              <!-- site menu/nav -->
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/shopping">Buy/Sell</a></li>
                  <li><a href="/lostAndFound">Lost & Found</a></li>
                  <li><a href="/forum">Forum</a></li>
                   <li><a class="pp3" href="/dashboard"><img class="img-fluid pp2" src="/img/team/jojo.jpg" alt=""> </a></li>
              </ul>
              <!-- nav-toggler for mobile version only -->
              <button class="nav-toggler">
                  <span></span>
              </button>
          </nav>
      </div>
  </div>
  
    <div class="navbar-area navbar-fixed-top">
      <div class="container">
        <nav class="site-navbar">
  
          <a href="#home" class="site-logo">SELL-THAT!</a>
  
  
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Buy/Sell</a></li>
            <li><a href="#">Lost & Found</a></li>
            <li><a href="#">Forum</a></li>
          </ul>
  
  
          <button class="nav-toggler">
            <span></span>
          </button>
        </nav>
      </div>
    </div>
  
  
    <!--Added line -->
    <div>
  
      <h3 class="head"> Buy Products <h3>
          <hr size='1' width="100%" color=grey>
    </div>
    <br>
  
  
  
    <div class="flex-container">
  
  
  
      <!-- Product cards - buy -->
      <div class="product">
        <p class="product-title">CASIO FX_991EX</p>
        <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
        <div class="product-text">
          <p>
          <h4 align="center">Condition ?</h4>
          It is 2 years old but acts as though it were brand new :)
          <h4 align="center">Contact ?</h4> Seller Name : Harshita <br> Phone number : 987654321<br>Email :
          sellerh@sellthat.com
          </p>
        </div>
      </div>
  
  
      <div class="product">
        <p class="product-title">CASIO FX_991EX</p>
        <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
        <div class="product-text">
          <p>
          <h4 align="center">Condition ?</h4>
          It is 2 years old but acts as though it were brand new :)
          <h4 align="center">Contact ?</h4> Seller Name : Harshita <br> Phone number : 987654321<br>Email :
          sellerh@sellthat.com
          </p>
        </div>
      </div>
  
  
      <div class="product">
        <p class="product-title">CASIO FX_991EX</p>
        <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
        <div class="product-text">
          <p>
          <h4 align="center">Condition ?</h4>
          It is 2 years old but acts as though it were brand new :)
          <h4 align="center">Contact ?</h4> Seller Name : Harshita <br> Phone number : 987654321<br>Email :
          sellerh@sellthat.com
          </p>
        </div>
      </div>
  
  
      <div class="product">
        <p class="product-title">CASIO FX_991EX</p>
        <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
        <div class="product-text">
          <p>
          <h4 align="center">Condition ?</h4>
          It is 2 years old but acts as though it were brand new :)
          <h4 align="center">Contact ?</h4> Seller Name : Harshita <br> Phone number : 987654321<br>Email :
          sellerh@sellthat.com
          </p>
        </div>
      </div>
    </div>
  
    <!--Added line -->
  
  
    <div>
      <br>
      <h3 class="head" align="right">Sell Products <h3>
          <hr size="1" width="100%" color="grey">
    </div>
  
    <!-- Product cards -Sell -->
    <div class="flex-container">
      <div class="product">
        <p class="product-title">CASIO FX_991EX</p>
        <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
        <div class="product-text">
          
          <p>
          <h4 align="center">Condition ?</h4>
          It is 2 years old but acts as though it were brand new :)
          <h4 align="center">Contact ?</h4> Seller Name : Harshita <br> Phone number : 987654321<br>Email :
          sellerh@sellthat.com
          </p>
  
          <div align='center'>
            <button type="button" class="btn-reg1 floated fa fa-edit" data-toggle="modal" data-target="#myModal">
              EDIT</button>
            <button type="submit" class="btn-reg1 floated fa fa-trash  "> DELETE</button>
          </div>
          <br>
        </div>
      </div>
  
      <div class="product">
        <p class="product-title">CASIO FX_991EX</p>
        <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
        <div class="product-text">
  
          <p>
          <h4 align="center">Condition ?</h4>
          It is 2 years old but acts as though it were brand new :)
          <h4 align="center">Contact ?</h4> Seller Name : Harshita <br> Phone number : 987654321<br>Email :
          sellerh@sellthat.com
          </p>
          
          <div align='center'>
            <button type="button" class="btn-reg1 floated fa fa-edit" data-toggle="modal" data-target="#myModal">
              EDIT</button>
            <button type="submit" class="btn-reg1 floated fa fa-trash  "> DELETE</button>
          </div>
          <br>
  
        </div>
      </div>
  
      <div class="product">
        <p class="product-title">CASIO FX_991EX</p>
        <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
        <div class="product-text">
  
          <p>
          <h4 align="center">Condition ?</h4>
          It is 2 years old but acts as though it were brand new :)
          <h4 align="center">Contact ?</h4> Seller Name : Harshita <br> Phone number : 987654321<br>Email :
          sellerh@sellthat.com
          </p>
  
          <div align='center'>
            <button type="button" class="btn-reg1 floated fa fa-edit" data-toggle="modal" data-target="#myModal">
              EDIT</button>
            <button type="submit" class="btn-reg1 floated fa fa-trash  "> DELETE</button>
          </div>
          <br>
  
        </div>
      </div>
  
    </div>
    </div>
  
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn-reg" data-toggle="modal" data-target="#myModal">Add Product</button>
  
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
  
            <h4 class="modal-title">Product Details</h4>
          </div>
  
          <form>
            <div class="modal-body">
  
              <label for="name">Product Name :</label>
              <input type="text" id="name" name="user_name" required minlength="3">
  
              <label for="description">Description:</label>
              <textarea id="description" name="description" required minlength="8" ></textarea>
  
              <label for="college">Email:</label>
              <input type="email" id="college" name="college" required minlength="3"><br>
  
              <label for="contact">Contact Number:</label>
              <input type="text" id="contact" name="contact" required minlength='10' maxlength="11"
                pattern="[0-9]*"></input>
  
              <label for="myfile">Photo:</label>
              <input type="file" id="photo" name="photo" required>
  
            </div>
  
            <div align='center'>
              <button type="button" class="fa fa-window-close btn-reg1 floated" data-dismiss="modal"> CLOSE</button>
              <button type="submit" class="fa fa-paper-plane btn-reg1 floated"> SUBMIT</button>
            </div>
            <br>
            <br>
        </div>
        </form>
      </div>
  
    </div>
    </div>
  
  
  
  
    <div align="center" class="h3">
      <br>
      <a href="#">About Us &nbsp &nbsp </a><a href="#">Contact Us &nbsp &nbsp </a><a href="#">Project Code &nbsp
        &nbsp</a>
    </div>
  
  
    </footer>
  
  </body>