<html>

<head>
  <link rel="stylesheet" href="/css/showans.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="bb">
  <div class="row d-flex justify-content-center mt-100 mb-100">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title">what elective should i choose?,, cloud or machine learning?.</h4>
        </div>
        <div class="comment-widgets">
          <!-- Comment Row -->
          <div class="d-flex flex-row comment-row m-t-0">
            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"
                alt="user" width="50" class="rounded-circle"></div>
            <div class="comment-text w-100">
              <h5 class="font-medium">Harshita Reddy</h5> <span class="m-b-15 d-block">I think you should go with Machine Learning , it is very interesting and easy to pick up </span>
              <div class="comment-footer"> <span class="text-muted float-right">September 25, 2020</span> <button
                  type="button" class="btn btn-success btn-sm" >Edit</button><button type="button"
                  class="btn btn-danger btn-sm">Delete</button> </div>
            </div>
          </div> <!-- Comment Row -->
          <div class="d-flex flex-row comment-row">
            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg"
                alt="user" width="50" class="rounded-circle"></div>
            <div class="comment-text active w-100">
              <h5 class="font-medium">Rakshana J</h5> <span class="m-b-15 d-block">Maybe you could pick either of them now and do a course on your own that you didn't pick </span>
              <div class="comment-footer"> <span class="text-muted float-right">September 24, 2020</span><button
                type="button" class="btn btn-success btn-sm">Edit</button><button type="button"
                  class="btn btn-danger btn-sm">Delete</button> </div>
            </div>
          </div> <!-- Comment Row -->
          <div class="d-flex flex-row comment-row">
            <div class="p-2"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg"
                alt="user" width="50" class="rounded-circle"></div>
            <div class="comment-text w-100">
              <h5 class="font-medium">Nirmal Sharon Joji</h5> <span class="m-b-15 d-block">Take cloud its the best, you can make your own CSgo servers </span>
              <div class="comment-footer"> <span class="text-muted float-right">September 24, 2020</span> <button
                type="button" class="btn btn-success btn-sm">Edit</button> <button type="button"
                  class="btn btn-danger btn-sm">Delete</button> </div>
            </div>
          </div>
        </div> <!-- Card -->
      </div>
    </div>
  </div>
</body>

</html>