<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Sell That!</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">

  <link rel="stylesheet" href="/css/trial.css">
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>

<body>

  <div class="navbar-fixed-top bg">
    <div class="container bg">
      <nav class="site-navbar ">
        <!-- site logo -->
        <a href="#home" class="site-logo">SELL-THAT!</a>

        <!-- site menu/nav -->
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="shopping">Buy/Sell</a></li>
          <li><a href="lostAndFound">Lost & Found</a></li>
          <li><a href="forum">Forum</a></li>
        </ul>

        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>

  <div class="navbar-area navbar-fixed-top">
    <div class="container">
      <nav class="site-navbar">

        <a href="#home" class="site-logo">SELL-THAT!</a>


        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Buy/Sell</a></li>
          <li><a href="#">Lost & Found</a></li>
          <li><a href="#">Forum</a></li>
        </ul>


        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>


  <!--Added line -->
  <div>
    <br>
    <h3 class="head"> Buy Products <h3>
        <hr size="1" width="80%" color="grey">
  </div>


  <br>
  <br>


  <div class="flex-container">



    <!-- Product cards - buy -->
    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        
      </div>
    </div>


    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        
      </div>
    </div>


    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        
      </div>
    </div>


    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        
      </div>
    </div>
  </div>

  <!--Added line -->


  <div>
    <br>
    <h3 class="head" align="right">Sell Products <h3>
        <hr size="1" width="80%" color="grey">
  </div>

<!-- Product cards -Sell -->
  <div class="flex-container">
    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        <div class="group" align="center">
          <button class="fa fa-edit"> Edit Details</button>
          <button class="button1 fa fa-trash product-title"> Delete</button>
        </div>
      </div>
    </div>

    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        <div align="center">
          <button class="fa fa-edit"> Edit Details</button>
          <button class="button1 fa fa-trash product-title"> Delete</button>
        </div>
      </div>
    </div>

    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>

        <div class="group" align="center">
          <button class="fa fa-edit"> Edit Details</button>
          <button class="button1 fa fa-trash product-title"> Delete</button>
        </div>

      </div>
    </div>

  </div>
  </div>

  <!-- Modal Start-->

  <div align="center" >
    
    <br>
    <button onclick="document.getElementById('id01').style.display='block'" class="button" >Add Product</button>

    <div id="id01" class="w3-modal" align="right">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'"
            class=" w3-display-topright" >&times;</span>
          <div class="box">
            <form>
              <label for="name">Product Name</label>
              <input type="text" id="name" name="name" placeholder="Product Name" required> <br>

              <label for="Description">Description</label>
              <input type="text" id="Description" name="Description" placeholder="Description" required><br>

              <label for="college">College Name</label>
              <input type="text" id="college" name="college" placeholder="College Name" required><br>


              <label for="contact">Contact Details</label>
              <input type="text" id="contact" name="contact" placeholder="Contact Details" required><br>

              <label for="photo">Add Photo <input type="file" value="Upload Resume" required></label><br>




              <div align="center">
              <input class="button1 buttoninput" type="submit" value="Submit">
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal ENd-->



  <footer>


    <div align="center" class="h3">
      <br>
      <a href="#">About Us &nbsp &nbsp </a><a href="#">Contact Us &nbsp &nbsp </a><a href="#">Project Code &nbsp
        &nbsp</a>
    </div>


  </footer>

</body>