<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Sell That!</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/style.css">
  <link rel="stylesheet" href="/css/trial.css">
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="navbar-area navbar-fixed-top">
    <div class="container">
      <nav class="site-navbar">

        <a href="#home" class="site-logo">SELL-THAT!</a>


        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Buy/Sell</a></li>
          <li><a href="#">Lost & Found</a></li>
          <li><a href="#">Forum</a></li>
        </ul>


        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>


  <!--Added line -->
  <div>
    <br>
    <h3 class="head"> Buy Products <h3>
        <hr size="1" width="80%" color="grey">
  </div>


  <br>
  <br>


  <div class="flex-container">




    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        <button class="fa fa-shopping-bag"> Buy Product</button>
      </div>
    </div>


    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        <button class="fa fa-shopping-bag"> Buy Product</button>
      </div>
    </div>


    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        <button class="fa fa-shopping-bag"> Buy Product</button>
      </div>
    </div>


    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        <button class="fa fa-shopping-bag"> Buy Product</button>
      </div>
    </div>
  </div>

  <!--Added line -->


  <div>
    <br>
    <h3 class="head" align="right">Sell Products <h3>
        <hr size="1" width="80%" color="grey">
  </div>


  <div class="flex-container">
    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        <div class="group" align="center">
          <button class="fa fa-edit"> Edit Details</button>
          <button class="button1 fa fa-trash product-title"> Delete</button>
        </div>
      </div>
    </div>

    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>
        <div align="center">
          <button class="fa fa-edit"> Edit Details</button>
          <button class="button1 fa fa-trash product-title"> Delete</button>
        </div>
      </div>
    </div>

    <div class="product">
      <p class="product-title">CASIO FX_991EX</p>
      <img src="/img/material/calci.jpeg" height="267" width="530" alt="Calci" />
      <div class="product-text">
        <p>
        <h4>Amrita School of Engineering</h4>
        2 years Old<br> Perfect Working Condition<br> Contact: Harshita (987654321)
        </p>

        <div class="group" align="center">
          <button class="fa fa-edit"> Edit Details</button>
          <button class="button1 fa fa-trash product-title"> Delete</button>
        </div>

      </div>
    </div>
    <button class="fa fa-plus add"> Add Product</button>
  </div>
  </div>

  


  <footer>


    <div align="center" class="h3">
      <br>
      <a href="#">About Us &nbsp &nbsp </a><a href="#">Contact Us &nbsp &nbsp </a><a href="#">Project Code &nbsp
        &nbsp</a>
    </div>


  </footer>

</body>