body { 
	font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 14px;
	overflow-x: hidden
}


.flex-container {
	background-color: #eee;
	width: 100%;	
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	flex-direction: flex-start;
}

/* Product Cards */
.product {
	position: relative;
	max-width: 340px;
	margin: 20px;
  padding: 2;
  margin-bottom: 100;
 
	background-image: linear-gradient(180deg,#7f70f5 , #0ea0ff);
	
}

.product:hover {
    transform: scale(1.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); 
}

.product-title {
	padding: 1em;
	margin: 0;
    font-size: 20px;
    color: #eee;
    text-transform: uppercase;
}

.product-text {
    padding: 0 1em;
    color: #eee;
    text-transform: capitalize;
    
}

img {
    margin: 0;
    padding-left: 30;
    padding-right: 30;
    max-width: 100%;
    
   
}

button {
	position: relative;
	width: 80%;
	margin: 1em 10%;
	padding: 12px 24px;
	background-color: rgb(238, 238, 238);
	color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
  
    color:black;
    text-transform: uppercase;
   
}





/* Heading -> Buy Products and sell products */
.head{
    padding: 0 1em;
  
    color:blueviolet;
    text-transform: capitalize;
    font-size:40;
    
    
}

.add{
    position: relative;
	width: 100%;
	margin: 1em 10% 1em;
	padding: 12px 24px;
	background-image: linear-gradient(270deg,#7f70f5 , #0ea0ff);
	color:#eee;
    border: none;
    border-radius:20px;
    
    color:black;
    text-transform: uppercase;
}

.add:hover {    
    transform: 1.4;
}



.box {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }

  

  .btn-reg{
    background-image:linear-gradient(250deg,#7f70f5 , #0ea0ff);
    color:white;
    font-size: medium;
  } 

  .btn-reg1{
    align-content: center;
    background-color:#eee;
    color:blueviolet;
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 45%;
    height: 45;
    
	
  
  } 


  .floated {
    float:center;
    margin-right:5px;
 }



  label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Itim';
    font-size: 18;
  }
  
  /* form stuff*/

 
  
  
  form {
    max-width: 500px;
    margin: 30px auto;
    background-image:linear-gradient(250deg,#7f70f5 , #0ea0ff);
    border-radius: 8px;
    border: none;
    color:white;
  }
  
 
  
  input[type="text"],
  input[type="file"],
  input[type="email"],
  input[type="number"],
  textarea,
  select {
    border: none;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
  }
  
 
  
  button {
    width: 100%;
    
  }
 
 
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 18;
  }

  p{
      font-size: 18;
  }

  @media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }    
}
   
 

  

  






  
  




