
/*Product  cards*/
body {
  background-color:lavender;
}

.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
/*img and text come side by side*/
.product-img {
  float: left;
  height: 420px;
  width: 327px;
}
/*img and text come side by side*/
.product-info {
  float: left;
  height: 420px;
  width: 327px;
  
  background-color: #ffffff;
}
/*text position*/
.product-text {
  height: 300px;
  width: 328px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Bentham', sans-serif;
  font-weight: 800;
  text-transform: title;
  color:grey;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 18px;
  font-weight: 100;

}




.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  /*margin: 20px 0 30px 1px;*/
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 90px;
  margin-left: 1000px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

/*
Raks lost and found cards
*/

#topbar{
  height: 30px;

  background-image: linear-gradient(100deg, #45489a, transparent);
  
  border: 0;
  border-radius: 10px;
  height: 30px;

}

.boody{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Open Sans', sans-serif;

}

#raksWrapper{
  height: auto;
  width: auto;
  padding-top: 2%;
  border-radius: 7px 7px 7px 7px;
  
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

#blog {
  padding-left: 60px;
  padding-right: 60px;
  
}

.content-section {
  
  position: relative;
  width: 100%;
  display: inline-block;
  height: auto;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  text-align: left;
  position: relative;
  margin-bottom: 60px;
}

.section-heading h1 {
  margin-top: 0px;
  padding-left: 1%;
  font-size: 34px;
  color: #232323;
  display: inline-block;
  margin-right: 50px;
}

.section-heading em {
  font-style: normal;
  font-weight: 700;
  color: #45489a;
}

.section-heading p {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  color: #343434;
  position: absolute;
  top: 12.5px;
}



.accent-btn a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #45489a;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 5px;
}

.accent-btn a:hover {
  background-color: #fff;
  color: #45489a;
}



#blog .tabgroup ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#blog .tabgroup ul li {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

#blog .tabgroup ul li img {
  float: left;
  margin-right: 30px;
  max-width: 50%;
  overflow: hidden;
}
#blog .tabgroup ul li .text-content {
  display: inline;
}

#blog .item .text-content h4 {
  padding-top: 7.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

#blog .item .text-content span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

#blog .item .text-content .accent-btn {
  margin-top: 25px;
}

/*
End of lost and found codes
*/